<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd    http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd    http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd    http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd    http://www.springframework.org/schema/lang
http://www.springframework.org/schema/lang/spring-lang.xs    http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd    http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd    http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task.xsd">




	<context:annotation-config />
	<!-- 스캐닝 할 기준 패키지 -->
	<context:component-scan
		base-package="dao,service">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />
	</context:component-scan>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        id="dataSource">
        <property value="oracle.jdbc.driver.OracleDriver" name="driverClassName" />
        <property value="jdbc:oracle:thin:@localhost:1521:orcl"
            name="url" />
        <property value="scott" name="username" />
        <property value="tiger" name="password" />
    </bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="SqlSessionFactory">
	    <property name="dataSource" ref="dataSource" />
	    <property value="classpath:/mybatis/mybatis-config.xml" name="configLocation" />
	    <property value="classpath:/mybatis/mappers/**.xml" name="mapperLocations" />
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate" id="sqlSession" destroy-method="clearCache">
  	  <constructor-arg name="sqlSessionFactory" ref="SqlSessionFactory" />
	</bean>





	<!-- <bean id="bpro" class="dao.BooksDAO"/> <bean id="bcpro" class="dao.BookcartDAO"/> 
		<bean id="upro" class="dao.UserDAO"/> -->

</beans>

